.appointment {
  margin-top: 2rem;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    min-height: 20rem;

    .schedule {
      display: flex;
      flex-direction: column;

      .days {
        max-width: 12rem;
        .day {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
        }
        .except {
          margin-top: 0.5rem;
        }
      }
    }
    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .address {
        display: flex;
        flex-direction: column;
        height: auto;
        a {
          background: $redTheme;
          width: 100%;
          padding: 0.5rem 0;
          display: flex;
          justify-content: center;
          border-radius: 0.5rem;
          transition: 0.3s ease;
          font-size: 1.1rem;
          font-weight: 600;
          gap: 0.5rem;
          align-items: center;

          &:hover {
            filter: brightness(70%);
          }
        }
      }

      .phone {
        h4 {
          margin-top: 0.6rem;
        }
        #whatsappImg {
          width: 100%;
          min-width: 10rem;
          height: 3rem;
          transition: 0.3s ease;

          &:hover {
            filter: brightness(70%);
          }
        }
      }
    }

    .mail {
      h4 {
        margin-top: 0.6rem;
      }
      #mailBtn {
        background: $redTheme;
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        transition: 0.3s ease;
        font-size: 1.1rem;
        font-weight: 600;
        gap: 0.5rem;
        align-items: center;
        &:hover {
          filter: brightness(70%);
        }
      }
    }
    .payment {
      display: flex;
      flex-direction: column;
      text-align: center;
    @media  screen and (max-width:900px) {
      margin: 0 1rem;
    }

      .payment-methods {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5.1rem, 1fr));
        align-items: center;
        .euroNote{
          filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg) brightness(80%) contrast(119%);
        }
      }
    }
  }
}
