.appointment {
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    gap: 3rem;

    .schedule {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.3rem;
      }
      .days {
        max-width: 12rem;
        .day {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
        }
        .except {
          margin-top: 0.5rem;
        }
      }
    }
    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .address {
        display: flex;
        flex-direction: column;
        height: auto;
        a {
          background: $redTheme;
          width: 100%;
          padding: 0.5rem 0;
          display: flex;
          justify-content: center;
          border-radius: 0.5rem;
          transition: 0.3s ease;
          font-size: 1.2rem;
          font-weight: 600;
          gap: 0.5rem;
          align-items: center;

          &:hover {
            filter: brightness(70%);
          }
        }
      }

      .phone {
        #whatsappImg {
          width: 100%;
          min-width: 10rem;
          height: 3rem;
          transition: 0.3s ease;

          &:hover {
            filter: brightness(70%);
          }
        }
      }
    }

    .mail{
      #mailBtn{
        background: $redTheme;
          width: 100%;
          padding: 0.5rem 0;
          display: flex;
          justify-content: center;
          border-radius: 0.5rem;
          transition: 0.3s ease;
          font-size: 1.2rem;
          font-weight: 600;
          gap: 0.5rem;
          align-items: center;
          &:hover {
            filter: brightness(70%);
          }
      }
    }
  }
}
