.appointment {
  margin: auto;
  width: 50%;
  h2 {
    font-size: 3rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    gap: 3rem;

    .schedule {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.3rem;
      }
      .days {
        max-width: 12rem;
        .day {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
        }
        .except {
          margin-top: 0.5rem;
        }
      }
    }
    .info-container {
      display: flex;
      flex-direction: column;

      .address {
        display: flex;
        flex-direction: column;
        height: auto;
#btn{

    background-color: $redTheme; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
      }
    }
  }
}
