header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // ********************DEBUT NAVBAR 1**************** //
  #navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $black2;
    height: 5rem;
    transition: 0.2s ease;
    position: fixed;
    z-index: 999;
    @media only screen and (max-height: 925px) {
      display: none;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: 100%;
      margin: auto 1rem;

      li {
        position: relative;
        transition: 0.3s ease-out;
        .nav-element {
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: $white1;
        }
        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: $redTheme;
          top: 1.5rem;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: 0.25s ease-out;
          visibility: hidden;
        }

        &:not(:last-of-type):hover:after {
          visibility: visible;
          transform: scaleX(1);
          transform-origin: bottom right;
        }

        #facebook-btn {
          color: black;
          background-color: red;
        }
      }
    }
  }

  // ********************DEBUT SECTION 1**************** //

  .section1 {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background: $black2;
    padding: 5rem 0 5rem 0;
    @media only screen and (max-height: 500px) {
      display: grid;
      grid-template-columns: 55% 45%;
      row-gap: 3rem;
      grid-template-areas:
        "a1 a2"
        "a1 a3";
      padding: 0 0 0 ;
      margin: 0;
      align-content: center;
    }
    @media screen and (max-width: 768px) {
      background: $black2;
      padding: 0;
    }
    @media screen and (max-height: 400px) {
      padding: 0;
    }

    // .responsive-phone {
    //   @media screen and (max-width: 768px) {
    //     // background: url(/assets/img/logogarage.webp) center/cover;
    //     width: 100%;
    //     max-width: 25rem;
    //     height: 9rem;
    //     min-height: 9rem;
    //     border-radius: 0.5rem;
    //     margin-bottom: 2rem;
    //   }
    // }

    #logo {
      width: 40rem;
      min-height: 5rem;
      height: 15rem;
      border-radius: 1rem;
      background: url(/assets/img/logogarage.webp) center/cover;
      grid-area: a1;

      @media only screen and (max-height: 925px) {
        width: 30rem;
        min-height: 5rem;
        height: 13rem;
        margin: 0 0 0 0;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 30rem;
        height: 12rem;
        min-height: 9rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
      }
      @media screen and (max-width: 510px) {
        max-width: 20rem;
        min-height: 7rem;
        height: 9rem;
        width: 100%;
      }
      @media screen and (max-width: 350px) {
        max-width: 18rem;
        min-height: 5rem;
        height: 7rem;
      }
    }

    p {
      color: $white1;
      font-size: 4rem;
      margin: 0 3rem;
      min-width: 15ch;
      max-width: 100%;
      grid-area: a2;
      @media screen and (max-width: 1200px) {
        font-size: 3rem;
        margin: 0;
      }
      @media screen and (max-width: 580px) {
        max-width: 15ch;
      }
      @media screen and (max-width: 430px) {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }

    .welcome-image {
      max-width: 39rem;
      width: 50%;
      min-width: 20rem;
      @media only screen and (max-height: 925px)  {
        display: none;
      }
    }

    .main-button {
      border-radius: 4px;
      background-color: $redTheme;
      letter-spacing: 0.5px;
      border: none;
      color: $white1;
      text-align: center;
      font-size: 1.2rem;
      padding: 1rem 0 1rem 0;
      width: 20rem;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      display: inline-block;
      position: relative;
      transition: 0.3s;
      grid-area: a3;

      @media screen and (max-height: 840px) {
        margin: 0;
      }
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
      }
      @media screen and (max-width: 330px) {
        display: flex;
        flex-direction: column;
        max-width: 15ch;
        text-align: center;
      }

      &:after {
        content: "↴";
        position: absolute;
        font-size: 2.5rem;
        color: $white1;
        opacity: 0;
        top: -0.1rem;
        left: 85%;
        transition: 0.3s ease-out;
        @media screen and (max-width: 330px) {
          display: none;
        }
      }

      &:hover {
        text-indent: -1.6rem;
        @media screen and (max-width: 330px) {
          text-indent: 0;
        }
      }

      &:hover:after {
        opacity: 1;
        text-indent: 0.5rem;
      }
    }

    #scroll-down {
      position: absolute;
      bottom: 2rem;
      font-size: 1.5rem;
      color: $white1;
      padding: 0.5rem;
      // border: 1px solid red;
      border-radius: 99rem;
      transition: 180ms ease-in-out;
      transform: translateX(-50%);
      left: 50%;
      &:hover {
        cursor: pointer;
        background: red;
        color: $black2;
      }
      @media only screen and (max-height: 925px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
