header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  nav {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background: $black2;
    box-shadow: 0 0 3px #333;
    min-height: 5rem;
    transition: 0.2s ease;
   position: fixed;
   z-index: 999;

    .logo-nav {
      background: url(/assets/img/logo2.png) center/cover;
      min-height: 100%;
      min-width: 16rem;
      max-width: 16rem;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;
      min-width: 20rem;
      max-width: 35rem;
      height: 100%;
      margin: auto 1rem;

      li {
        position: relative;
        transition: 0.3s ease-out;
        .nav-element {
          color: $white1;
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: $white1;
        }
        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: $redTheme;
          top: 1.5rem;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: 0.25s ease-out;
          visibility: hidden;
        }

        &:not(:last-of-type):hover:after {
          visibility: visible;
          transform: scaleX(1);
          transform-origin: bottom right;
        }
      }
    }
  }

  .first-sight {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/augu-mecha.webp) center/cover;
    
    
    h1 {
      color: $white1;
  
      font-size: 3.3rem;
    }
    p {
      color: $white1;
      font-size: 2.3rem;
      margin: 1rem 0 3rem;
    }
    
    .main-button {
      border-radius: 4px;
      background-color: $redTheme;
      letter-spacing: .5px;
      border: none;
      color: $white1;
      text-align: center;
      font-size: 1.2rem;
      padding:1rem 0 1rem 0;
      width: 20rem;
      margin: 3rem 0 0 0;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      display: inline-block;
      position: relative;
      transition: 0.3s;


      &:after {
        content: "⇊";
        position: absolute;
        color: $white1;
        opacity: 0;
        top: 1.2rem;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease-out;
        font-size: 1.6rem;
      }

      &:hover {
        padding:0 0 1.4rem 0;

      }

      &:hover:after {
        opacity: 1;
        top: 1.2rem;
      }
    }
  }
}
