// .services {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   height: auto;
//   min-height: 25rem;
//   width: 100%;
//   background: $black2;
//   align-items: center;
//   justify-items: center;
//   padding: 3rem 2rem;

//   @media only screen and (max-width: 1010px) {
//     display: flex;
//     flex-direction: column;
//   }
//   @media only screen and (max-width: 600px) {
//     padding: 0 1rem;
//   }

//   .container {
//    display: flex;
//    flex-direction: column;
//     justify-items: center;
//     align-items: center;
//     background: $redTheme;
//     width: auto;
//     max-width: 90%;
//     height: auto;
//     margin: 1rem 0;
//     max-height: 20rem;
//     border-radius: .5rem;

//     @media only screen and (max-width: 1010px) {
//       display: grid;
//       grid-template-rows: 1fr;
//       max-height: 15rem;
//       grid-template-columns: 40% 60%;
//       justify-items: center;
//     }
//     @media only screen and (max-width: 796px) {
//       display: flex;
//       flex-direction: column;
//       margin: 1rem 0;
//       max-height: 20rem;
//     }

//     .service-center {
//       width: 100%;
//       height: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;
//       overflow: hidden;

//       .service1 {
//         font-size: 1.5rem;
//         overflow: hidden;
//         letter-spacing: 1px;
//         font-weight: 600;
//         padding: .6rem;

//         @media only screen and (max-width: 1880px) {
//           font-size: 1.5rem;
//           max-width: 20ch;
//         }
//         @media only screen and (max-width: 1400px) {
//           font-size: 1.4rem;
//         }
//         @media only screen and (max-width: 1010px) {
//           font-size: 1.5rem;
//         }
//         @media only screen and (max-width: 796px) {
//           max-width: 100%;
//         }
//         @media only screen and (max-width: 367px) {
//          font-size: 1.2rem;
//         }
//       }
//     }

//     .img1,
//     .img2,
//     .img3 {
//       height: 20rem;
//       width:30rem;
//       max-height: 15rem;
//     }
//     .img1 {
//       background: url(/assets/img/brake-Z3.webp) center/cover;
//     }
//     .img2 {
//       background: url(/assets/img/entretien-exemple.jpeg) center/cover;
//     }
//     .img3 {
//       background: url(/assets/img/tire1.webp) center/cover;
//     }
//   }
// }

.servicesV2 {
  margin: 2rem 2rem 0;
  z-index: 1;
  overflow: hidden;
  h2 {
    font-size: 3rem;
  }
  .tabs_paragraph_wrapper {
    margin-top: 2rem;
    background-color: rgba(36, 36, 36, 0.641);
    padding: 1rem;

    .tabs_paragraph {
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100rem;

      .tabs_wrapper {
        margin-bottom: 2rem;
        .tabs_inner {
          .tabs_tabs {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;

            .tab {
              width: 100%;
              height: 6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0.5rem;
              min-width: 15rem;
              max-width: 25rem;

              button {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                -webkit-border-radius: 62.5rem;
                -webkit-border-top-left-radius: 3.75rem;
                -webkit-border-bottom-right-radius: 3.75rem;
                border-radius: 62.5rem;
                border-top-left-radius: 3.75rem;
                border-bottom-right-radius: 3.75rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: background 250ms linear;

                &:hover:not(.active_tab) {
                  background-color: $lighterRed;
                }
                &:focus {
                  background-color: $lighterRed;
                }

                .title {
                  font-size: 1.3rem;
                  font-weight: 500;
                }
                .click_here {
                }
              }
            }
          }
        }
      }
      .tab_content_wrapper {

        .tab_content {
          display: grid;
          grid-template-columns: 50% 50%;
          column-gap: 1rem;
          min-height: 20rem;
          margin: 2rem;

          img {
            width: auto;
            height: 100%;
          }
        }
        .text_tab_content {
          display: flex;
          flex-direction: column;


          p {
            color: $white1;
            font-size: 1.3rem;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
