@charset "UTF-8";
@font-face {
  font-family: "rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(23, 20, 21);
  margin: 0;
  font-family: "rubik";
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*******************************/
.bold {
  font-weight: 900;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.icon {
  color: rgb(23, 20, 21);
  font-size: 1.4rem;
}

.moreBtn {
  background: rgb(23, 20, 21);
  color: rgb(241, 241, 241);
  padding: 0.5rem 1.2rem;
  border-radius: 99rem;
  transition: 0.2s;
}
.moreBtn:hover {
  padding: 0.6rem 1.4rem;
  color: rgb(23, 20, 21);
  background: rgb(241, 241, 241);
  font-size: 1.1rem;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background: rgb(47, 47, 47);
  box-shadow: 0 0 3px #333;
  min-height: 5rem;
  transition: 0.2s ease;
  position: fixed;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav .logo-nav {
  background: url(/assets/img/logo2.png) center/cover;
  min-height: 100%;
  min-width: 16rem;
  max-width: 16rem;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-width: 20rem;
  max-width: 35rem;
  height: 100%;
  margin: auto 1rem;
}
header nav ul li {
  position: relative;
  transition: 0.3s ease-out;
}
header nav ul li .nav-element {
  color: rgb(241, 241, 241);
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: rgb(241, 241, 241);
}
header nav ul li:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(255, 27, 39);
  top: 1.5rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: 0.25s ease-out;
  visibility: hidden;
}
header nav ul li:not(:last-of-type):hover:after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom right;
}
header .first-sight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/augu-mecha.webp) center/cover;
}
@media screen and (max-width: 768px) {
  header .first-sight {
    background: rgb(47, 47, 47);
  }
}
@media screen and (max-width: 768px) {
  header .first-sight .bg-phone {
    background: url(/assets/img/logo2.png) center/cover;
    width: 80%;
    height: 12rem;
    margin-bottom: 4.5rem;
  }
}
header .first-sight h1 {
  color: rgb(241, 241, 241);
  font-size: 3.3rem;
}
@media screen and (max-width: 768px) {
  header .first-sight h1 {
    font-size: 2.5rem;
  }
}
header .first-sight p {
  color: rgb(241, 241, 241);
  font-size: 2.3rem;
  margin: 1rem 0 3rem;
}
header .first-sight .main-button {
  border-radius: 4px;
  background-color: rgb(255, 27, 39);
  letter-spacing: 0.5px;
  border: none;
  color: rgb(241, 241, 241);
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
  width: 20rem;
  margin: 3rem 0 0 0;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
header .first-sight .main-button:after {
  content: "↴";
  position: absolute;
  font-size: 2.5rem;
  color: rgb(241, 241, 241);
  opacity: 0;
  top: -0.1rem;
  left: 85%;
  transition: 0.3s ease-out;
}
header .first-sight .main-button:hover {
  text-indent: -1.6rem;
}
header .first-sight .main-button:hover:after {
  opacity: 1;
  text-indent: 0.5rem;
}/*# sourceMappingURL=index.css.map */